/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 20;
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
}

/* Fixed header styling */
header {
  color: rgb(41, 118, 211);
  background-color: rgb(57, 87, 75);
  padding: 10px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
label{
    display: block;
}
/* Input and select fields */
input, select {
  margin: 20px;
  padding: 10px;
  width: calc(100% - 40px); /* Ensure it fits within the screen */
  max-width: 300px;
  font-size: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fffaf0;
  transition: all 0.3s ease;
  display: block;
}
}

/* Buttons */
button {
  background-color: rgb(41, 118, 211);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
  font-size: 18px;
  transition: box-shadow 0.15s;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
}

button:hover {
  box-shadow: 2px 2px 5px rgba(41, 118, 211, 0.15);
  background-color: rgb(41, 118, 218);
  opacity: 0.8;
}

/* Links */
a {
  font-size: 35px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  input, select, button {
    width: 100%;
    max-width: none;
    font-size: 18px;
  }

  header {
    font-size: 18px;
  }

  button {
    font-size: 16px;
    padding: 8px;
  }

  a {
    font-size: 16px;
  }
}
