/* Add some basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
}
.container {
  margin: 10px auto;
  width: 80%;
  text-align: center;
}
select, input[type="text"], button {
  margin: 5px;
  padding: 8px;
  width: 200px;
  font-size: 16px;
  display: none;
}
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
#works {
    display: inline-block;
}
